@page
@model UniversityApp.Ui.Admin.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<form method="post">
    <button type="submit" class="btn btn-outline-danger">Sign out</button>
</form>
